@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/image" method="get">
            <textarea name="imageData"></textarea>
            <input name="x" />
            <input name="y" />
            <input name="w" />
            <input name="h" />
            <button type="submit">go!</button>
        </form>
    </div>
</body>
</html>
